# OSX leaves these everywhere on SMB shares
._*

# OSX trash
**/.DS_Store

# Python
**/*.pyc

# Emacs save files
*~
\#*\#
.\#*

# Vim-related files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# VSCode
.vscode

# Terraform
**/.terraform/*
**/*.out
**/*.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/tfplan.*
